body
{
    align-content: center;
}
.window
{
    align-content: center;
}

/*CATEGORIES*/
.index-cat
{
    width: 100%;
    padding: 60px 0px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    text-decoration: none;
    margin-top: 50px;
    
    
}
        .index-cat .index-cat-box
        {
            width: 20%;
            height: 250px;
            background-color:  #fff;
            text-align: center;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        }

.index-cat .index-cat-box h2
{
    
}
/**/
